@import "tailwindcss";

@layer utilities {

    @keyframes bounceTwice {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  
    .animate-bounceTwice {
      animation: bounceTwice 1s 2s ease-in-out 1;
    }

    @keyframes bounce2 {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  
    .animate-bounce2 {
      animation: bounce2 1s 2s ease-in-out 1;
    }
  
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    .animate-fadeIn {
      animation: fadeIn 1.5s ease-in forwards;
    }

    @keyframes upSlider {
        0% {
            transform: translateY(150px);
            /* filter: blur(3px); */
            filter:opacity(0);
        }

        100% {
            transform: translateY(0px);
            /* filter: blur(0px); */
           filter:opacity(20);
        }
    }

    .animate-upSlider {
        animation: upSlider 2s 1 ;
    }

    @keyframes downSlider {
        0% {
            transform: translateY(-100px);
            filter:opacity(0);
        }

        100% {
            transform: translateY(0px);
            filter:opacity(20);
        }
    }

    .animate-downSlider {
        animation: downSlider 2s 1 ;
    }

    @keyframes rightSlider {
      0% {
          transform: translateX(50px);
          filter:opacity(0);
      }

      100% {
          transform: translateY(0px);
          filter:opacity(20);
      }
    }

    
    .animate-rightSlider {
      animation: rightSlider 2s 1 ;
    }

    .animate-downSlider {
      animation: downSlider 2s 1 ;
  }

  @keyframes leftSlider {
    0% {
        transform: translateX(-50px);
        filter:opacity(0);
    }

    100% {
        transform: translateY(0px);
        filter:opacity(20);
    }
  }

  
  .animate-leftSlider {
    animation: leftSlider 2s 1 ;
  }
  }


@theme {
  --shadow-out: 0 0px 8px rgba(255, 255, 255, 1);

  --shadow: inset 0px 0px 40px rgba(255, 255, 255, 1)
}